{% extends 'base.html.twig' %}

{% block title %}Editer Compteur{% endblock %}

{% block body %}
    <h1>Modification d'un Compteur</h1>

    {{ include('compteur/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('compteur_index') }}">Voir la liste</a>

    {{ include('compteur/_delete_form.html.twig') }}
{% endblock %}
