{% extends 'base.html.twig' %}

{% block title %}Nouveau Compteur{% endblock %}

{% block body %}
    <h1>Ajout d'un nouvel Compteur</h1>

    {{ include('compteur/_form.html.twig') }}

    <a href="{{ path('compteur_index') }}"><button class="btn btn-outline-info">Voir la liste</button></a>
{% endblock %}
