{% extends 'base.html.twig' %}

{% block title %}Modification abonné{% endblock %}

{% block body %}
    <h1>Modification des informations sur l'abonné</h1>

    {{ include('abonne/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('abonne_index') }}"> <button class="btn btn-outline-info"></button></a>

    {{ include('abonne/_delete_form.html.twig') }}
{% endblock %}
