{% extends 'base.html.twig' %}

{% block title %}Nouvel abonné{% endblock %}

{% block body %}
    <h1>Création d'un nouvel abonné</h1>

    {{ include('abonne/_form.html.twig') }}

    <a href="{{ path('abonne_index') }}">Voir la liste</a>
{% endblock %}
