{% extends 'base.html.twig' %}

{% block title %}Editer Tarif{% endblock %}

{% block body %}
    <h1>Modification d'une Tarif</h1>

    {{ include('tarif/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('tarif_index') }}">Voir la liste</a>

    {{ include('tarif/_delete_form.html.twig') }}
{% endblock %}
